.card {
  display: block;
}
a.card {
  text-decoration: none;
}

.article {
  border: 1px solid $color-grey-6;

  .card {
    &__header {}

    &__subtitle {
      color: $color-tri-1;
    }

    &__title {
      font-weight: 800;
      text-transform: uppercase;
      border-bottom: dashed $color-tri-1 1px;
    }
    &__body {
      padding-top: 1rem;
    }
  }

  &__featured {
    .card {
      &__img {
        height: 200px;
        background-color: $color-tri-1;
        overflow: hidden;
      }
      &__content {
        
      }
    }
  }
  &__hero {
    .card {
      &__img {
        height: 400px;
        background-color: $color-tri-1;
        overflow: hidden;
      }
      &__content {
        
      }
      &__header {
        min-height: 100px;
        background-color: $color-tri-1;
        color: $color-light;
      }
    }
  }
}

// 100px and up
@media screen and (min-width: 100px) {
  .section {
    &__title {
      grid-column: 1 / span 1;
    }
  }
  .category.wrapper {
    max-height: 500px;
    overflow: scroll;
  }
  .category__section,.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    
  }

  .card {
    grid-column: 1 / span 1;
  }
}

// 700px and up
@media screen and (min-width: $media-small) {
  .section {
    &__title {
      grid-column: 1 / span 2;
    }
  }
  .category.wrapper {
    max-height: 500px;
    overflow: scroll;
  }

  .category__section,.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


  .card:nth-of-type(2n) {
    grid-column: 1 / span 1;
  }

  .card:nth-of-type(2n-1) {
    grid-column: 2 / span 2;
  }

  .card.article__featured {
    grid-column: 1 / span 4;
    grid-row: 1/ span 2;
  }
}

// 960px
@media screen and (min-width: $media-med) {
  .section {
    &__title {
      grid-column: 1 / span 4;
    }
  }

  .category__section,.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .card:nth-of-type(2n - 1) {
    grid-column: 3 / span 4;
  }

  .card:nth-of-type(2n) {
    grid-column: 1 / span 2;
  }

  .card.article__featured {
    grid-column: 1 / span 4;
    grid-row: 1/ span 2;
  }
}

@media screen and (min-width: $media-large) {
  .section {
    &__title {
      grid-column: 1 / span 4;
    }
  }

  .category__section,.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .card {
    &:nth-of-type(2n - 1) {
      grid-column: auto;
    }

    &:nth-of-type(2n) {
      grid-column: auto;
    }

    &.article__featured {
      grid-column: 1 / span 2;
      grid-row: 1/ span 2;
    }
  }

  .container {
    &__content {
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }
  }
}

@media screen and (min-width: $media-xlarge) {}