@media screen and (min-width: 100px) {
    .toggle {
        &__nav {
            position: fixed;
            display: grid;
            place-items: center;
            z-index: 5;
            width: 50px;
            height: 50px;
            background-color: $color-sec-1;
            border-radius: 50px;
            margin-left: .5rem;
            margin-top: .5rem;

        }
    }

    .mobile {
        &__nav {


            .nav {
                height: 100vh;
                flex-direction: column;

                &__items {
                    flex-direction: column;

                    }
                }

                &__item {}
            }
        }
    }

    .nav {
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $color-sec-1;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                padding: 0px;
                margin: 0px;
            }
        }

        a {
            text-decoration: none;
        }

        &__container {
            z-index: 4;
            background-color: transparent;
            width: 100%;
            padding-top: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            position: fixed;
        }

        &__items {
            display: flex;
            align-items: center;
            height: auto;
        }

        a,
        &__item {
            text-decoration: none;
            font-family: $header-family;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &__mark {
            svg {
                height: 2.5rem;
            }
        }

    }
}

// 700px and up
@media screen and (min-width: $media-small) {}

// 960px 

@media screen and (min-width: $media-med) {}

@media screen and (min-width: $media-large) {
    .nav {
        &__container {
            max-width: 80%;
            margin-left: 10%;



        }
    }


}

@media screen and (min-width: $media-xlarge) {
    .nav {
        &__container {
            max-width: 70%;
            margin-left: 15%;



        }
    }
}